/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2013, 1:03:41 PM
    Author     : enyert
*/

#mainContainer {
    background-image: url("../img/fondo.png"); //imagen que va de fondo
    background-size: 100% 100%;  //Redimension de la imagen de fondo
    height: 768px; //altura del container principal
    margin: 0px 0px 0px 0px; //margenes
    width: 1024px; //anchura del container principal
}